{% extends 'layout/base.html' %}

{% block content %}

{% include "main/include/create_city_form.html" %}

{% if messages %}
        {% for message in messages %}
                {{ message }}
        {% endfor %}
{% endif %}

        <div id="location_list" class="compare-container"  
        hx-target="closest div"
        hx-confirm="Вы хотите удалить населенный пункт из избранного?">
        
                {% for weather_data in weather_data_list %}            
                        {% include 'main/include/city_weather_favorites.html'%}            
                {% endfor %}

        </div>

{% endblock content %}