{% extends 'layout/base.html' %}

{% block content %}

<div class="row" style="margin-bottom: 100px; margin-top: 100px">
    <div>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="city" placeholder="Название населенного">
            <button type="submit">Узнать погоду!</button>
        </form>
    </div>
    
    {% if messages %}
    <ul class="error-messages">
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <li>{{ message }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

    <div class="compare-container">
        {% if weather_data %}
            <div class="city-container">
                {% include 'main/include/city_weather_index.html'%}
            </div>
        {% endif %}
</div>

{% endblock content %}