{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block title %} {{title}} {% endblock title %}

{% block content %}

<div class="row" style="margin-bottom: 200px; margin-top: 160px">
    <div class="col-md-3 offset-md-5">
        <h3 class="text-center">Аутентификация</h3>
        <hr>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <p>* - обязательное для заполнения поле</p>
            <input type="submit" class="btn btn-success btn-block" value="Войти">
        </form>
    </div>
    
</div>

{% endblock content %}