{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block title %} {{title}} {% endblock title %}

{% block content %}

<div class="row" style="margin-bottom: 10px; margin-top: 10px">
    <div class="col-md-6 offset-md-3">
        <h3 class="text-center">Регистрация пользователя</h3>
        <hr>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <p>* - обязательное для заполнения поле</p>
            <input type="submit" class="btn btn-success btn-block" value="Зарегистрироваться">
        </form>
    </div>
</div>

{% endblock content %}