{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{% block title %}{% endblock title %}</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" media="screen">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/favorites.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet" />
</head>
<style>
</style>

<body style="height: 100vh">
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    {% include 'includes/navbar.html' %}

    {% block content %}
    {% endblock content %}

    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <script>
        window.addEventListener('scroll', function() {
            let footer = document.querySelector('.footer');
            let scrollPosition = window.scrollY;
            if (scrollPosition > 200) {
                footer.style.transform = 'translateY(0)';
            } else {
                footer.style.transform = 'translateY(100%)';
            }
        });
    </script>
    <script>
        function cngElementsAtr(cls, atr, val){
            var elems = document.getElementsByClassName(cls);
            for(var i = 0; i < elems.length; i++) {
                elems[i][atr] = val;
            }
        }
        document.body.addEventListener('htmx:afterRequest', (event) => {
            path_str = event.detail.pathInfo.requestPath;
            if(path_str.includes('create_location')){
                cngElementsAtr('clrtxt', 'value', '');
            }
        });
    </script>
    <script>
        document.addEventListener('htmx:afterSwap', function(event) {
            if (event.detail.target.matches('.disbtn')) {
                htmx.process(event.detail.target);
            }
        });
    </script>
    
</body>
<footer>
    <div class="footer-container">
        <p>&copy; dromanoff 2024 </p>
    </div>
</footer>
</html>